h1{
	color: blue;
}

.cabecalho{
	width: 500 px;
	height: 250px;
	background-color:#cc66ff;
	font-family: 'IM Fell Great Primer SC', serif;
}

.post{
	width: 500 px;
	height: 250px;
	background-color:#ffccff;
}
.posttitle{
	color:#ff1a1a;
}
.data{
	text-align: right;
}
.menu{
	color:#50C7C7
}